<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Message</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">Subject</th>

        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of msgs"> 
        <td>{{m._id}}</td>
        <td>{{m.message}}</td>
        <td>{{m.name}}</td>
        <td>{{m.email }}</td>
        <td>{{m.subject}}</td>

        <td>
          <button type="button" class="btn btn-primary" (click)='answerMsg(m._id)'>Answer</button>



        </td>


      </tr>
     
     
    </tbody>
  </table> 