    
   
    
    <section class="food_menu gray_bg">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="section_tittle">
                      <p>Popular Menu</p>
                      <h2>Delicious Food Menu</h2>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                      <a class="active" id="Special-tab" data-toggle="tab" href="#Special" role="tab"
                          aria-controls="Special" aria-selected="false">Special <img src="assets/img/icon/play.svg"
                              alt="play"></a>
                      <a id="Breakfast-tab" data-toggle="tab" href="#Breakfast" role="tab" aria-controls="Breakfast"
                          aria-selected="false">Breakfast <img src="assets/img/icon/play.svg" alt="play"></a>
                      <a id="Launch-tab" data-toggle="tab" href="#Launch" role="tab" aria-controls="Launch"
                          aria-selected="false">Launch <img src="assets/img/icon/play.svg" alt="play"></a>
                      <a id="Dinner-tab" data-toggle="tab" href="#Dinner" role="tab" aria-controls="Dinner"
                          aria-selected="false">Dinner <img src="assets/img/icon/play.svg" alt="play"> </a>
                      <a id="Sneaks-tab" data-toggle="tab" href="#Sneaks" role="tab" aria-controls="Sneaks"
                          aria-selected="false">Sneaks <img src="assets/img/icon/play.svg" alt="play"></a>
                  </div>
              </div>
              <div *ngFor="let p of plat"  class="col-lg-6" >
               <app-plat [platInput]='p'></app-plat>
  
                
              </div>
          </div>
      </div>
  </section>